<mat-nav-list>
    <a mat-list-item routerLink="dashboard" routerLinkActive="active-link">
        <mat-icon mat-list-icon>home</mat-icon>
        <!--multiline_chart-->
        Dashboard
    </a>
    <a mat-list-item routerLink="folders" routerLinkActive="active-link">
        <mat-icon mat-list-icon>folder_open</mat-icon>
        Folder
    </a>
    <a mat-list-item routerLink="procedures" routerLinkActive="active-link">
        <mat-icon mat-list-icon>list</mat-icon>
        Procedure
    </a>
    <a mat-list-item href="admin/category">
        <mat-icon mat-list-icon>apps</mat-icon>
        Test category
    </a>
    <a mat-list-item routerLink="clients" routerLinkActive="active-link">
        <mat-icon mat-list-icon>people_outline</mat-icon>
        Client
    </a>
    <a mat-list-item routerLink="contrats" routerLinkActive="active-link">
        <mat-icon mat-list-icon>event_note</mat-icon>
        <!--list_alt-->
        Contrat
    </a>
    <a mat-list-item routerLink="documents" routerLinkActive="active-link">
        <mat-icon mat-list-icon>assignment</mat-icon>
        <!--library_books-->
        Document
    </a>
</mat-nav-list>